/*
    @dateUpdated 2025-08-06
    @changes Desactivar atributo background-color
    @changes Desactivar atributo color
*/
label{
    /*background-color: #615f5f;*/
    border-radius: 10px;
    /*color: white;*/
    display: inline-block;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    padding: 0px 10px;
}