

.contenedorTablaContenido{
  overflow-y: scroll;
  height: inherit;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.app-root-emotion-cache-ltr-mgnm3r .widget-content{
    overflow-y: auto !important;
}

.tree-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tree-container div {
    padding: 3px;
  }
  
  /* .tree-container div:hover {
    background-color: #FFEEA9;
    color: #FF7D29;
  } */
  
  .search-bar input {
    width: calc(100% - 30px);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .checked-layers {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .checked-layers ul {
    list-style-type: none;
    padding: 0;
  }
  
  .checked-layers li {
    padding: 5px 0;
  }

  .rowCheck{
    display: flex;
    align-items: center;
  }

  .pointer{
    cursor: pointer;
  }

  .react-tabs {
    height: inherit !important;
  }
  .react-tabs__tab-panel--selected{
    height: inherit !important;
  }