/* @import '../../../utils/styles/presetsQuindio.css'; */

.coord-widget{
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:16px;
}

.section{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.label{
  font-size:13px;
  font-weight:600;
  color:var(--color-primary);
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.actions{
  display:flex;
  justify-content:flex-end;
  gap:10px;
}