.barraEscalaSelect {
  width: 120px;
  border-radius: 10px;
  padding: 4px;
}

.divBarraEscala {
  font-size: 10pt;
  font-weight: bold;
  background-color: #8aa260;
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}