@import '../../../utils/styles/presetsQuindio.css';

.consulta-widget {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background-color: var(--bg-color-white);
}

.select {

  width: 100%;
  margin-bottom: 10px;
}

.valuesBox {

  width: 100%;
  /* height: 80px; */
}

textarea {

  width: 100%;
  height: 40px;
}

.operators {

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 4px;
  margin: 10px 0;
}

.operators button {

  border-radius: 10px;
  border: 1px solid #888;
  background: #eee;
}

.actions {

  display: flex;
  justify-content: space-between;
}
