/* @import '../../../utils/styles/presetsQuindio.css'; */

.floating-input{
  position:relative;
  display:flex;
  flex-direction:column;
}

.floating-input input{

  width:100%;
  padding:5px 5px;
  border-radius:6px;
  border:1px solid #d1d5db;
  font-size:14px;
  background:white;

}

.floating-input label{

  position:absolute;
  left:10px;
  top:50%;
  transform:translateY(-50%);
  font-size:14px;
  color:#9ca3af;
  pointer-events:none;
  transition:all 0.2s ease;

}

.floating-input.active label{

  top:-8px;
  font-size:11px;
  color:#2563eb;
  background:white;
  padding:0 4px;

}