@import '../../../../utils/styles/presetsQuindio.css';

.consulta-ambiental-form-ant {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 8px;
  align-items: center;

}

.filtro-row-ant {
  display: contents;
}


.consulta-ambiental-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 12px;
  /* separación lateral */
}

.filtro-row-ant {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 2px;
  /* menos espacio entre label y control */
  row-gap: 8px;
  align-items: center;
}

.filtro-row {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin-bottom: 10px;
}

.consulta-ambiental-form label {
  font-weight: 500;
}

.botonera_ {
  margin-top: 16px;
  /* separación del último filtro */
  display: grid;
  grid-template-columns: 105px 1fr;
  /* igual que filtro-row */
}

.botonera-content_ {
  grid-column: 2;
  /* alinea con los selects */
}

.botonera {
  margin-top: 16px;
}

.consulta-widget {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background-color: var(--bg-color-white);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.consulta-widget::-webkit-scrollbar {
  width: 8px;
}

.consulta-widget::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--border-radius-lg);
}

.consulta-widget::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--border-radius-lg);
}

.consulta-widget::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}